* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #AAA;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

/* Style for the scanline container */
.scanline {
  height: 36px; /* Adjust height as needed */
}
  
  /* Style for each pixel */
.pixel {
  display: inline-block;
  margin-right: -4px;
  width: 36px;
  height: 100%; /* Fills the height of the scanline */
  background-color: black; /* Color of the pixel */
}

.color-picker {
  display: inline-block;
  margin-left: 10px;
  width: 36px;
  height: 100%;
  background-color: black;
}
