* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

/* Style for the scanline container */
.scanline {
  height: 36px; /* Adjust height as needed */
}
  
  /* Style for each pixel */
.pixel {
  display: inline-block;
  margin-right: -4px;
  width: 36px;
  height: 100%; /* Fills the height of the scanline */
  background-color: black; /* Color of the pixel */
}

.color-picker {
  display: inline-block;
  margin-left: 10px;
  width: 36px;
  height: 100%;
  background-color: black;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 554px;
}

/* Color palette styles */
.color-palette {
  display: flex;
  flex-wrap: wrap;
}

.color-square {
  width: 30px;
  height: 30px;
  margin: 1px;
  cursor: pointer;
}

